<div class="panel panel-default panel-no-border">
    <div class="panel-heading">
        <strong>Customers with partners and locations</strong>
    </div>
    <div class="panel-body">
        <div class="scrollable-x splynx-table-wrap">
            <table class="table table-striped table-bordered splynx-table sim-card-table">
                <tr class="sim-card-tr-th-rim sim-card-table-th-center">
                    <th>ID</th>
                    <th>Login</th>
                    <th>Full name</th>
                    <th>Partner</th>
                    <th>Location</th>
                    <th>Sim Card</th>
                    <th class="th-sim-card">Actions</th>
                </tr>
                {% for customer in model.getCustomers() %}
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.login }}</td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.getPartnerName(customer.partner_id) }}</td>
                        <td>{{ customer.getLocationName(customer.location_id) }}</td>
                        <td>{{ customer.additional_attributes['sim_card'] }}</td>
                        <td>
                            <a class="btn btn-primary center-button" href="{{ path('/sim/select-sim', {'customerId': customer.id}) }}" >{{ 'Select Sim Card'|title }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
