.sim-card-table{
    text-align: center;
}

.sim-card-tr-th-rim{
    margin: auto;
    border: 3px solid #5a7fb5;
    padding: 10px;
}

.center-button {
    margin: auto;
}

.th-sim-card {
    width: 20%;
}

.link-add-sim-card {
    margin-bottom: 20px;
}

.sim-card-tr-th-rim th{
    text-align: center;
}

.learning-select-sim-block{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: flex-end;
}