<div class="panel panel-default panel-no-border">
    <a href="{{ path('/learning/sim/list') }}" class="link-secondary">Back</a>
    <div class="panel-heading">
        <strong>Add Sim Card</strong>
    </div>
    <div class="panel-body">
        <div>
            {{ use('yii/widgets/ActiveForm') }}
            {% set form = active_form_begin({
                'id' : 'add-form',
                'options' : {'class' : 'form-horizontal'},
            }) %}
            {{ form.field(model, 'imsi') |raw }}
            {{ form.field(model, 'partner_id').dropDownList(allNamePartners)| raw }}
            {{ form.field(model, 'location_id').dropDownList(allNameLocations)| raw }}
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
            {{ active_form_end() }}
        </div>
    </div>
</div>
