<div class="panel panel-default panel-no-border">
    <div class="panel-heading">
        <strong>List of Sim Cards</strong>
    </div>
    <div class="panel-body">
        <div class="scrollable-x splynx-table-wrap">
            <a class="btn btn-primary center-button link-add-sim-card"
               href="{{ path('/learning/sim/add-sim') }}">{{ 'Add Sim Card'|title }}</a>
            <table class="table table-striped table-bordered splynx-table sim-card-table">
                <tr class="sim-card-tr-th-rim">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Partner</th>
                    <th>Location</th>
                    <th>Customer</th>
                    <th>Actions</th>
                </tr>
                {% for simCard in model.getAllSimCards() %}
                    <tr>
                        <td>{{ simCard.id }}</td>
                        <td>{{ simCard.imsi }}</td>
                        <td>{{ model.getPartnerNameById(simCard.partner_id) }}</td>
                        <td>{{ model.getLocationNameById(simCard.location_id) }}</td>
                        <td>{{ model.getCustomerNameById(simCard.used_by) }}</td>
                        <td>
                            {% if simCard.used_by != 0 %}
                                <a class="btn btn-primary center-button"
                                   href="{{ path('/sim/remove-sim', {'customerId': simCard.used_by,'imsiId': simCard.id}) }}">{{ 'Remove from Customer'|title }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
