{% block scripts %}
    <script>
        {% include 'select-sim.js.twig' %}
    </script>
{% endblock %}
<div class="panel panel-default panel-no-border">
    <a href="{{ path('/learning') }}" class="link-secondary">Back</a>
    <div class="panel-heading">
        <strong>Select Sim Card</strong>
    </div>
    <div class="panel-body">
        <div>
            <div class="splynx-nav-right learning-select-sim-block">
                {% if simCardsList != null %}
                    <div>
                        {{ Yii.t('app', 'Imsi') }}
                        {{ Html.dropDownList( 'sim',null, simCardsList, {
                            'id': 'learning_sim_card_id',
                            'style': 'width:1000px',
                            'class': 'select2 form-control'
                        }) | raw }}
                    </div>
                    <div>
                        {{ Html.button(Yii.t('app', 'Select Sim Card'), {
                            'class': 'btn btn-primary btn-sm',
                            'id': 'learning_sim_card_button',
                            'title': Yii.t('app', 'Select Sim Card'),
                        }) | raw }}
                    </div>
                {% else %}
                    <p>No matching Sim Card for current customer.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>